#navigation{
    background-color: #F9635C;
    height: 80px;
    
}
.navbar-nav{
    font-size: 20px;
    padding: 0% 5rem;
    
}



.content{
    background-color:#4EC375;
    color: white
}
.photo{
    margin-top: -300px;
}
.container-fluid-1{
    height: 34px;
}
.card{
    margin-left: 2px;
}
